body {
  font-family: sans-serif;
  text-align: justify;
  background-color: #D3D3D3;
}

.general-information{
  display: flex;
}

#menu-column{
  background-color: #333333;
  color: #FFFFF0;
}

#content-list{
  list-style-type: none;
  padding: 0; 
  :hover{
    background-color: #0047AB;
  }
}

.content-list-element{
  margin-top: 5px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  text-transform:initial;
}

.menu-link{
  text-decoration: none;
  color: inherit;
}

#info-column{
  overflow-y: auto; /* Agrega desplazamiento vertical solo cuando el contenido excede la altura */
  height: 83.5vh;
  background-color: #FFFFF0;
  color: #333333;
  width: -webkit-fill-available;
}




h1{
  font-family: 'Merriweather', serif;
  font-size: 32px;
}

h2{
  border-bottom: 1px solid;
  color: #0047AB;
  font-family: 'Merriweather', serif;
  font-size: 24px;
}

p{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

footer {
  display: flex;
  align-content: center;
  align-items: center;
  background-color: #D3D3D3;
  flex-direction: column;
  color: #333333;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}


.certificate:hover{
  filter: invert(22%) sepia(92%) saturate(3279%) hue-rotate(198deg) brightness(90%) contrast(85%);
}


.dropdown:hover{
  color: #0047AB;
}
.subtitle{
  display: flex;
  align-items: center;
}

.paragraph {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.paragraph.visible {
  max-height: 200px; /* Ajusta este valor según el contenido del párrafo */
}


.dropdown-image {
  transition: transform 0.5s ease-out;
}

.dropdown-image.rotated {
  transform: rotate(90deg);
}

.course{
  display: flex;
  align-items: center;
}