body {
  font-family: sans-serif;
  text-align: justify;
}

.general-information{
  display: flex;
}

#info-column{
  overflow-y: auto; /* Agrega desplazamiento vertical solo cuando el contenido excede la altura */
  max-height: 87vh;
}

footer {
    text-align: center;
    background-color: #f2f2f2;
}
