body {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    background-color: #1c2158;
}

html, body {
    height: 100%; /* Asegura que el html y body ocupen toda la altura de la ventana */
    margin: 0; /* Elimina el margen por defecto del body */
}







header {
    background-color: #003366;
    color: #FFFFFF;
    text-align: left;
    padding-top: 150px;
    padding-bottom: 50px;
    padding-left: 50px;
    font-family: 'Merriweather', serif;
    background-image: url('data/images/background/background.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el div */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center ;
    filter: brightness(100%);
    opacity: 0.7;
}
header h1 {
    font-size: 60px; /* Grande y destacada para el título principal */
    margin: 0;
}





nav {
    position: sticky;
    top: 0;
    background-color: #cac9c9;
    z-index: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: background-color 0.4s; /* Transición suave para el fondo */
    font-family: 'Lato', sans-serif;
}
nav p {
    margin: 0;
    padding: 10px;
    background-color: transparent; /* Asegura que el fondo esté inicializado como transparente */
    transition: background-color 0.4s, color 0.4s; /* Transición suave para el fondo y color del texto */
    font-size: 20px;
}
nav p.active {
    background-color: #09b18a; /* Color de fondo para el elemento activo */
}
nav p:hover {
    background-color: #09b18a; /* Color de fondo al pasar el ratón */
}
nav p a {
    text-decoration: none;
    color: #0f1126; /* Color del texto del enlace */
    box-sizing: border-box;
}





main {
    text-align: center;
    flex: 1; /* Ocupa todo el espacio restante */
    padding: 20px;
    background-color: #1c2158;
    color: #f4f4f4cc;
    margin: 0 auto; /* Centra el contenido horizontalmente */
    max-width: 1200px; /* Limita el ancho máximo para una mejor legibilidad */
    padding-left: 20px; /* Sangría a la izquierda */
    padding-right: 20px; /* Sangría a la derecha */
}
main p, main ul{
    text-align: justify;
    font-size: 1em; /* Texto estándar */
    line-height: 1.6;
    font-family: 'Lato', sans-serif;
}
main h1 {
    font-size: 2em; /* Títulos principales */
    font-family: 'Merriweather', serif;
}
main h2{
    display: inline-block;
    font-size: 1.5em; 
    font-family: 'Merriweather', serif;
    padding-bottom: 7px;
    border-bottom: 5px solid #cac9c9;
    border-radius: 3px;
    border-color: #09b18a;
}
main h3, main h4{
    text-align: justify;
    font-family: 'Merriweather', serif;
}
main div table{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
main td{
    padding-left: 20px;
    padding-right: 20px;
}
#table-title{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
#table-content{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: italic;
    color: #f4f4f477;
}






footer {
    display: flex;
    align-content: center;
    align-items: center;
    background-color: #0f1126;
    color: #FFFFFF;
    flex-direction: column;
    position: sticky; /* Fija el footer en la parte inferior de la ventana */
    bottom: 0; 
    width: 100%;
    z-index: 1000; /* Asegura que el footer esté encima del contenido */
    font-family: 'Lato', sans-serif;
}
footer p {
    font-size: 12px; /* Texto de tamaño pequeño para el footer */
}
footer td{
    padding-left: 10px;
    padding-right: 10px;
}
footer img{
    opacity: 0.7;
}
